# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/

# Database Files
*.sqlite
*.sqlite3
*.db
datasets/*.db

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
